@import "../common/colors/colors.module.scss";

.navcontent{
    background-color: $yellow-black;
    display: flex;
    padding-left: 2rem !important;
    gap: 2.5rem;
}

.navLink{
    color: white !important;
    text-decoration: none;
}

.menu{
    display: block;
}

.menu__icon{
    font-size: 28px;
    color: white;
}

@media (min-width: 768px) {
    .menu{
        display: none;
    }
}