.content{
    display: flex;
}

.content-image{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
}

.title-image{
    font-size: 18px;
    margin: 0.5rem;
}

.image{
    width: 50%;
    margin: 2rem;
    border-radius: 7px;
}